.custom-file-control:lang(zh-Hans)::before {
	content: "選擇";
}
.custom-file-control:lang(zh-Hans)::after {
	content: "選擇文件....";
}
.custom-file-control:lang(zh-TW)::before {
	content: "選擇";
}
.custom-file-control:lang(zh-TW)::after {
	content: "選擇文件....";
}
.container.demo {
	background: #054bd1;
	height: 100vh;
	color: white;
	-webkit-font-smoothing:antialiased;
	/*max-width:960px;*/
}
.container.demo .row {
	background: :#021d51;
	border-bottom: 1px solid #000;
	height: 15vh;
}
.container.demo .row > div > span {
	display: block;
	background: #487bdd;
	color: white;
	font-size: 32px;
	padding: 8px;
	border: 1px solid #021d51;
}
.component.demo {
	padding: 50px;
	/*width: 1280px;*/
}
/*
.component.demo .card-columns .card {
	padding: 50px;
	width: 400px;
}
*/
.carousel.demo .carousel-item {
	height: 600px;
}

.carousel.demo .carousel-item img {
	min-height: 200px;
	max-height: 400px;
	object-fit: cover;
}